#hnbookmarklet-container{
	position:fixed !important;
	top:0 !important;
	right:0 !important;
	margin:10px !important;
	max-width: 428px !important;
	border: 1px solid #999 !important;
	box-shadow: 0 0 10px rgba(0,0,0,.2) !important;
	overflow:hidden !important;
	z-index:999999 !important;
	background:#FFF !important;
	text-align: left !important;
	color: black !important;
}
#hnbookmarklet-container > #hnbookmarklet-header{
	background:#FF6600 !important;
	padding:3px !important;
	margin: 0 !important;
	height: auto !important;
}
#hnbookmarklet-container > #hnbookmarklet-header > a, #hnbookmarklet-container #hnbookmarklet-close a, #hnbookmarklet-container #posts-container > ul#posts li > a{
	color:black !important;
	font-family: Verdana !important;
	font-size: 10pt !important;
	color:black !important;
	text-decoration:none !important;
	background: none !important;
	display: inline !important;
	text-align: left !important;
}
#hnbookmarklet-container #hnbookmarklet-header #hnb-logo{
	display: inline !important;
	padding-right:6px !important;
	font-weight:bolder !important;
}
#hnbookmarklet-container #hnbookmarklet-header #hnb-logo img{
	margin-bottom:-5px !important;
	border:1px solid white !important;
	vertical-align: text-top !important;
}
#hnbookmarklet-container #hnbookmarklet-header a#frontpage-hn{
	color:black !important;
	font-weight:bolder !important;
	text-decoration: none !important;
}
#hnbookmarklet-container #posts-container{
	height:auto !important;
	overflow-y:scroll !important;
	max-height: 500px !important;
}
#hnbookmarklet-container #posts-container > ul#posts{
	list-style:none !important;
	padding: 0px 15px 0px 15px !important;
  }
#hnbookmarklet-container #posts-container > ul#posts li{
	padding-bottom: 10px !important;
}
#hnbookmarklet-container #posts-container > ul#posts li a:visited{
	color:grey !important;
}
#hnbookmarklet-container #hnbookmarklet-close{
	text-align:center !important;
	padding:4px !important;
	border-top: 1px solid #999 !important;
	background: white !important;
}
#hnbookmarklet-container #hnbookmarklet-close a{
	display:block !important;
	text-align: center !important;
}
#hnbookmarklet-container #posts-container .subtext, #hnbookmarklet-container #posts-container .subtext a{
	font-family: Verdana !important;
	font-size: 7pt !important;
	color: #828282 !important;
	padding-bottom:5px !important;
}
